* {
  margin: 0;
  color: seashell;
  font-family: helvetica;
  font-size: 22px;
}

.banner {
  background-color: black;
  position: fixed;
  top:0;
  width: 100%;
  z-index: 10;
  height: 3.13rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.banner .image-container {
  width: auto;
  height: 100%;
  padding-left: 0.45rem;
  align-self: center;
  position: relative;
  top: 0.43rem;
}

.banner .image-container img {
  max-height: 72%;
}

nav {

}

nav ul {

}

nav li {
  display: inline;
  padding: 1rem;
  text-decoration: underline;
}
